@model ProductManagementSystem.Models.AllProductsView

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Add" asp-controller="Admin">Add a new product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(x => x.Products.First().ID)</th>
            <th>@Html.DisplayNameFor(x=>x.Products.First().Name)</th>
            <th>@Html.DisplayNameFor(x => x.Products.First().Image)</th>
        </tr>
    </thead>
    <tbody>
@foreach (Product item in Model.Products) 
{
    <tr>
        <td>@item.ID</td>
        <td>@item.Name</td>
        <td>
            <img src="~/images/@item.Image" height="50" alt="@item.Image" />
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
    </tbody>
</table>
